/* To calculate em : any px value / 16
    1200 px / 16 = ??em
*/

/* Below 1200px */
@media (max-width:75em) {
    html{
        font-size: 56.25% !important;
    }
    .course-title{
        gap: 10rem;
    }
    p:not(.cta-section p){
        font-size: 1.6rem !important;
    }
    .heading-secondary{
        font-size: 3.2rem !important;
    }
    .btn-full{
        text-align: center;
    }
}

/* Below 1024px */
@media (max-width:64em) {
    .heading-primary{
        font-size: 9.6rem !important;
    }
    .course-title h2{
        width: 100%;
    }
    .course-title a{
        width: 30%;
        font-size: 1.4rem;
        text-align: center;
        padding: 1rem;
    }
    /* .heading-secondary{
        font-size: 2.8rem !important;
    } */
    /* p:not(.cta-section p){
        font-size: 1.4rem !important;
    } */
    .students-grid{
        column-gap: 1.2rem !important;
    }
    .cta-container{
        display: flex !important;
        align-items: center;
        justify-content: center;
    }
}

/* Below 850px */
@media (max-width:53em) {
    html{
        font-size: 50% !important;
    }
    .student-text{
        padding: 0 1.2rem !important;
    }
    .st-img{
        width: 8rem !important;
        margin: 0 !important;
    }
}

/* Below 700px */
@media (max-width:43.75em) {
    .learn-grid{
        column-gap: 3.2rem !important;
        row-gap: 3.2rem !important;
    }
    .students-grid{
        margin: 4rem 0 0 0 !important;
    }
    .footer-container{
        column-gap: 1.4rem !important;
        margin: 0 !important;
    }
}

/* Below 562px */
@media (max-width:35em){
    .heading-primary{
        font-size: 7.4rem !important;
    }
    .container{
        width: 110% !important;
    }
    .course-title{
        gap: 6rem !important;
    }
    .learn-grid{
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .instructor{
        display: flex !important;
        flex-direction: column;
        justify-content: space-between;
    }

    .ins-img{
        width: 40rem !important;
        height: 40rem;
        margin-bottom: 2.4rem;
    }

    .faqs-section, .students-section, .meet-section, .footer{
        padding: 6.4rem !important;
    }
    .learn-section{
        padding: 12.4rem 6.4rem 6.4rem 6.4rem !important;
    }
    .faqs{
        margin: 0 !important;
    }
    .students-grid{
        grid-template-columns: repeat(2, 1fr) !important;
        row-gap: 2rem;
    }
    .cta-title{
        font-size: 8.4rem !important;
    }

    .cta-container{
        display: grid !important;
        grid-template-columns: 10% 100% 10% !important;
    }
}


/* Below 450px */
@media (max-width:27em){
    .heading-primary{
        font-size: 6.4rem !important;
    }
    .course-title{
        gap: 2rem !important;
    }
    .heading-secondary{
        font-size: 2.8rem !important;
    }
    .learn-grid{
        grid-template-columns: 1fr !important;
    }  

    



    .faqs-section, .students-section, .meet-section, .footer{
        padding: 3.4rem !important;
    }
    .learn-section{
        padding: 12.4rem 3.4rem 3.4rem 3.4rem !important;
    }
}


/* Below 400px */
@media (max-width:25em){
    .footer{
        padding: 1rem !important;
    }
    .footer-container{
        margin-bottom: 3.6rem !important;
    }
}